.navbar .navbar-brand img {
  height: 25px;
}
.navbar {
	margin-bottom: 0; 
	border: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.bitcoin_back_ground{
	width: 100%;
    height: auto;
}
.site-footer{
	background-color: #222222;
	color: #ffffff;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.bottom-footer{
}
.small-logo-white{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}
.swap {
  background-image: url(../images/facebook-logo-blue.png);
  background-repeat: no-repeat;
  background-size: cover; /* Make background responsive */
  background-position: center;
  width: 50px; /* Frame size on small screens */
  height: 50px;
  margin: 0px;
}
.swap a {
  
}
.swap a img {
  opacity: 1; /* Default state */
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; /* Soften the transition */
}
.swap a:hover img {
  opacity: 0; /* Hover state */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.swap2 {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/twitter-logo-blue.png);
  background-repeat: no-repeat;
  background-size: cover; /* Make background responsive */
  width: 50px; /* Frame size on small screens */
  height: 50px;
  margin: 0px;
}
.swap2 a {
  margin: 0px;
  padding: 0px;
}
.swap2 a img {
  margin: 0px;
  padding: 0px;
  opacity: 1; /* Default state */
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; /* Soften the transition */
}
.swap2 a:hover img {
  margin: 0px;
  padding: 0px;
  opacity: 0; /* Hover state */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.bottom-links{
	margin-left: 0px;
	padding-left: 0px;
}
.bottom-links a{
	color: #ffffff;
}
.bottom-links a:hover {
	text-decoration: none;
    color: 2c79cf;
}