.navbar .navbar-brand img {
  height: 25px;
}
.navbar {
	margin-bottom: 0; 
	border: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.bitcoin_back_ground{
	width: 100%;
    height: auto;
}
.site-footer{
	background-color: #222222;
	color: #ffffff;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.bottom-footer{
}
.small-logo-white{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}
.bottom-links{
	margin-left: 0px;
	padding-left: 0px;
}