.navbar .navbar-brand img {
  height: 25px;
}
.navbar {
	border: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.site-footer{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #222222;
	color: #ffffff;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.bottom-footer{
}
.bottom-text{
	margin-top: 10px;
	margin-bottom: 10px: 
}
.bottom-links{
	margin-left: 0px;
	padding-left: 0px;
}
.bottom-links a{
	color: #ffffff;
}
.bottom-links a:hover {
	text-decoration: none;
    color: 2c79cf;
}
.page-header{
	margin-top: 0px;
}
.panel-body{
	padding-top: 0px;
}
.featureImg{
	width: 100%;
	margin-bottom: 15px;
}
body{
  position: relative;
  margin: 0;
  padding-bottom: 28rem;
  min-height: 100%;
}